[Unit]
Description=VM Server
After=network.target

[Service]
Type=exec
Restart=always
User=root
ExecStart=/home/Abstractize/vmserver/Server
TimeoutStopSec=5
NonBlocking=yes

[Install]
WantedBy=multi-user.target