[Unit]
Description=VM Server
After=network.target

[Service]
Type=simple
User=Abstractize
ExecStart=sudo /home/Abstractize/vmserver/Server
TimeoutStopSec=5
NonBlocking=yes

[Install]
WantedBy=multi-user.target